<div class="col col-12">
  <h2>Contact</h2>
  <div class="row">
    <div id="map" class="col col-lg-6 col-md-6 col-sm-12 col-12">
      <app-map></app-map>
    </div>
    <div class="information col offset-lg-1 col-lg-4 offset-md-1 col-md-5 col-sm-12 offset-1 col-10">
      <h6>AUTO-ENTREPRENEUR D'EURE-ET-LOIR</h6>
      <h4>M. Eric Panassié</h4>
      <h5>Par téléphone :</h5>
      <p style="text-align:center;">Du lundi au vendredi<br/>
      de 8h à 18h<br/>
      au 07.81.66.15.90</p>
      <h5>Par mail :</h5>
      <div class="mail">aux.combles28gmail.com</div>
    </div>
  </div>
</div>
