
@media screen and (min-width: 720px) {
  #parallax1{
    background: url('/assets/img/image2_original.jpg');
    background-size: cover;
    background-attachment: fixed;
    float: center;
  }
  #parallax2{
    background: url('/assets/img/image1_recadre.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  #parallax3{
    background: url('/assets/img/slide4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
}
@media screen and (max-width: 720px) {
  #parallax1{
    background: url('/assets/img/image2_original.jpg');
    background-size: cover;
    background-attachment: fixed;
    float: center;
  }
  #parallax2{
    background: url('/assets/img/image1_recadre.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
  }
  #parallax3{
    background: url('/assets/img/slide4.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
  }
}

.presentation{
  margin: 40px;
}

#navbarNavAltMarkup{
  float: right;
  position: absolute;
  right: 20px;
}
nav{
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: #b4a3ad;
}
footer{
  background-color: #cbbda1;
}
#arrowButton{
  position: fixed;
  right: 25px;
  z-index: 100;
}
.arrowUp{
  color:white;
  background-color: #3f2c30;
  border-radius: 25px;
  width: 40px;
  height: 40px;
  padding-top: 10%;
  padding-left: 10%;
}
.arrowUp>i{
  font-size: 30px;
}
