<div class="col col-12">
  <h2>Réalisations</h2>
  <h3>Aménagement d'une extension de maison</h3>
</div>
<div class="descriptif col col-12">
  <div class="photos col offset-1 col-10">
    <div id="realisation" class="carousel slide" data-ride="carousel">
      <ul class="carousel-indicators">
        <li data-target="#realisation" data-slide-to="0" class="active"></li>
        <li data-target="#realisation" data-slide-to="1"></li>
        <li data-target="#realisation" data-slide-to="2"></li>
        <li data-target="#realisation" data-slide-to="3"></li>
        <li data-target="#realisation" data-slide-to="4"></li>
        <li data-target="#realisation" data-slide-to="5"></li>
        <li data-target="#realisation" data-slide-to="6"></li>
        <li data-target="#realisation" data-slide-to="7"></li>
        <li data-target="#realisation" data-slide-to="8"></li>
      </ul>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/slide1.jpg" alt="image1" height="400px">
          <div class="carousel-caption">
            <h3>Pose de l'isolant au plafond</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide2.jpg" alt="image2" height="400px">
          <div class="carousel-caption">
            <h3>Pose de l'ossature métallique pour les murs intérieurs et extérieurs</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide3.jpg" alt="image3" height="400px">
          <div class="carousel-caption">
            <h3>Pose de l'isolant et des plaques de plâtre</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide4.jpg" alt="image4" height="400px">
          <div class="carousel-caption">
            <h3>Préparation des sols pour la pose du plancher</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide5.jpg" alt="image5" height="400px">
          <div class="carousel-caption">
            <h3>Pose des montants de séparation</h3>
            <p>Séparation de l'extension pour la réalisation d'un salon et d'une chambre.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide6.jpg" alt="image6" height="400px">
          <div class="carousel-caption">
            <h3>Réalisation d'un muret pour séparer le dressing.</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide7.jpg" alt="image7" height="400px">
          <div class="carousel-caption">
            <h3>Mur de séparation terminé</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide8.jpg" alt="image8" height="400px">
          <div class="carousel-caption">
            <h3>Salon terminé</h3>
            <p></p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../assets/img/slide9.jpg" alt="image9" height="400px">
          <div class="carousel-caption">
            <h3>Salon terminé</h3>
            <p></p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#realisation" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#realisation" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>
