/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  font-family: "Open Sans" cursive;
}
.container {
  width:100%;
  max-width: none;
  padding: 0px;
  background: #f9f9f9;
}
.row{
  margin: 0px;
}
.col{
  padding: 0px;
}
